<h2>Viewing <%= @user.username.capitalize %>'s Profile</h2>

<p>
  <b>Posts created: </b>
  <%= link_to "#{@user.posts.count}", user_posts_path(@user.id) %>
</p>

<p>
  <b>Friends: </b>
  <%= link_to "#{@user.friends.count}", user_friendships_path(@user.id),
        params: { user_id: @user.id } %>
</p>

<% if @user == current_user %>
  <p>
    <b>Friend Requests: </b>
    <%= link_to "#{@user.received_friend_requests.count}",
          user_friend_requests_path(@user.id) %>
  </p>
<% end %>

<p><b>Account Creation Date: </b><%= @user.created_time_formatted %></p>

<% if @user.can_be_friends_with?(current_user) %>
  <%= button_to "Add Friend", user_friend_requests_path(@user.id),
        params: { friend_request: {
                                    sender_id: current_user.id,
                                    receiver_id: @user.id
                                  }
                }
  %>
<% end %>
