<div class="row">
  <%= image_tag current_user.gravatar_url(default: :mm),
                    :class => "gravatar-home" %>
  <div class="col row ps-1">
  <%= link_to "#{post.author.username.capitalize}", user_path(post.author.id),
      class: "fw-semibold",
      style: "text-decoration: none" %>
  <p class="text-secondary" style="display: inline-block">
    <%= post.created_time_formatted %>
  </p>
  </div>
</div>

<div class="container">
  <div class="container">
    <p class="fs-5"><%= post.body %></p>
  </div>
  <hr>
  <div class="d-flex justify-content-between align-items-center">
    <div class="d-flex">
      <div>
        <%= render "likes/likes", post: post, like: post.find_like(current_user) %>
      </div>

      <button type="button" class="btn btn-outline-primary btn-sm ms-4" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">
        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
          <path fill="currentColor" d="M20 2H4C2.9 2 2 2.9 2 4V22L6 18H20C21.1 18 22 17.1 22 16V4C22 2.9 21.1 2 20 2M20 16H5.2L4 17.2V4H20V16Z" />
        </svg>
        Comment
      </button>
    </div>

    <div class="d-flex justify-content-start align-items-center">
      <div class="me-2">
        <%= link_to "#{pluralize(post.likes.count, "Like")}",
            post_likes_path(post.id),
            class: "text-secondary",
            style: "text-decoration: none"
        %>
      </div>
      <div>
        <%= link_to "#{pluralize(post.comments.count, "Comment")}",
            post_comments_path(post.id),
            class: "text-secondary",
            style: "text-decoration: none"
        %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">New comment</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
          <%= render "comments/form", post: post %>
        </div>
      </div>
    </div>
  </div>
</div>
