<!DOCTYPE html>
<html>
  <head>
    <title>Odinbook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  <style>
      .gravatar-nav {
        height: 25px;
        width: auto;
        border-radius: 50%;
      }

      .gravatar {
        height: auto;
        width: 150px;
        border-radius: 50%;
      }

      .gravatar-home {
        height: 50px;
        width: auto;
        border-radius: 50%;
      }

      .gravatar-comment {
        height: 35px;
        width: auto;
        border-radius: 50%;
      }

      .delete-button svg:hover {
        color: red;
        transform: scale(1.2);
      }

      .hover-color {
        transition: 0.2s;
      }

      .hover-color:hover {
        color: #78e9ff !important;
      }

      .user-card {
        transition: 0.1s;
      }

      .user-card:hover {
        transform: scale(1.01);
      }

      .hover-shadow:hover {
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
      }

      .like-count:hover, .comment-count:hover {
        transform: scale(1.025);
      }

      .like-count a:hover, .comment-count a:hover {
        color: #0d6efd !important;
      }

      .hover-bg-warning:hover {
        background-color: #ffc107 !important;
      }

      .nav-tabs .nav-item .nav-link {
        color: grey;
      }

      .nav-tabs .nav-item .nav-link.active {
        color: #0080FF;
      }

      .affix {
        top: 100px;
      }

      .field_with_errors { 
        display: inline;
      }
  </style>
  </head>

  <body>
    <%= render "shared/navbar" %>

    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
